*{
  font-family: 'Vazir', sans-serif;
  }

.top-cptainer{
  margin-top: 10px;
  display: flex;
  direction: rtl;
  align-items: center;
  justify-content: space-evenly; 
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: -40px;
}

h2{
  text-align: center;
}

table {
  width: 90%;
  border-collapse: collapse; 
  margin-top: 20px;
  direction: rtl;
  text-align: right;
    }
    
th {
  background-color: #4CAF50; 
  color: white; 
  padding: 12px;
  text-align: center;
  font-weight: bold; 
}
    
  
td {
  padding: 10px; 
  text-align: right;
  text-align: center;
  border: 1px solid #ddd;
  color: #333; 
    }
