<form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label class="label">کد محصول:</label>

    <input id="persianDate" type="text" formControlName="persianDate" persianDateFormat placeholder="1403/05/15"
      class="input" preventTouch />

    <div *ngIf="dateForm.get('persianDate')?.invalid && (dateForm.get('persianDate')?.touched || dateForm.get('persianDate')?.dirty)" class="dateError">
        {{ textError }}
    </div>

  </div>
  <button style="visibility: hidden;display: none;" type="submit">ثبت</button>
</form>